#!/bin/bash
mkdir -p /opt/golang/src/iam-authorized-keys-command/
cat << EOF > /opt/golang/src/iam-authorized-keys-command/main.go
        ${authorized_command_code}
EOF
DEBIAN_FRONTEND=noninteractive
sudo apt-get install -y golang

export GOPATH="/root/go"
export GOCACHE="/root/.cache/go-build"
export GOENV="/root/.config/go/env"

cd /opt/golang/src/iam-authorized-keys-command

go mod init iam-authorized-keys-command
go mod tidy

/usr/bin/go build -ldflags "-X main.iamGroup=${bastion_allowed_iam_group}" -o /opt/iam_helper/iam-authorized-keys-command ./main.go
